################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Antra-Assignment3/.vs/Antra-Assignment3/FileContentIndex
/Antra-Assignment3/.vs/Antra-Assignment3/CopilotIndices/17.12.53.23981
/Antra-Assignment3/.vs/Antra-Assignment3/DesignTimeBuild
/Antra-Assignment3/.vs/ProjectEvaluation
